.nav-p{
    position: relative;
    /* background-color: #fffbfb7e; */
    /* box-shadow: 0px 0px 8px #fff; */
    /* background: linear-gradient(to top, #ffe8f6, #d6eefc); */ 
    z-index: 30;
    width: 100%;
}

.nav-i {
    background-color: rgba(58, 165, 160, 0.247);
    border-radius: 5px;
}
.nav-link-p{
    display: flex;
    padding: 12px 10px;
    font-size: 14px;
}
.nav-link-p li { 
    padding: 6px 5px;
    font-size: 14px;
} 
.nav-link-p li:hover{
    background-color: rgba(58, 165, 160, 0.247);
    color: #fff;
    border-radius: 5px;
} 
.nav-link-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}
.nav-menu {
    display: grid;
    grid-template-columns:  15% 55% 25%;
    gap: 2.5%;
    padding: 9px 2.5%;
    justify-content: center;
    align-items: center; 
}