.hero-p{
    box-shadow: inset 0px 2px 1.5px #fff;
    background-image: url("https://www.shutterstock.com/image-photo/love-mother-baby-family-home-260nw-1518712694.jpg");
    background-size: cover;
    /* background-position: center; */
    padding: 20px;
    /* color: #8d5f0b56; */
    text-align: center;
    width: 100%;
    box-shadow: inset 1px -50px 0px #ffffff;
}
.category-con {
    width: 100%;
    display: flex;
    gap: 20%;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    scroll-padding: 6%;
}
.category-con::-webkit-scrollbar {
    height: 2px;
}

.category-con .slick-track {
    display: flex;
    gap: 0.4%;
}
.bottom-slide{
    position: relative;
}
.bottom-slide .slick-track {
    display: flex;
    gap: 0.15%;
}
.bottom-slide .slick-arrow {
    /* background-color: red; */
    /* width: 300px; */
}
.bottom-slide .slick-next {
    background-color: rgba(255, 0, 0, 0.384);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
.bottom-slide .slick-prev {
    background-color: rgba(255, 0, 0, 0.459);
    height: 30px;
    width: 30px;
    position: absolute;
    left: 15px;
    z-index: 10;
}

.category-i {
    width: 15.83%;
    height: 350px;
    background-color: rgba(240, 198, 61, 0.226);
    flex-shrink: 0;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    overflow: hidden;
}
 
.category-i:nth-child(2){
    background-color: rgba(78, 201, 22, 0.534);
}
.top-pro-c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
    box-sizing: border-box;
    padding: 0 2%;
}
.top-pro-i {
    height: 430px;
    border-radius: 15px;
    word-spacing: 2px;
}
.top-pro-ic {
    height: 430px;
    border: 2px solid rgba(173, 172, 171, 0.418);
    border-radius: 15px;
    transition: all 0.3s linear;
    /* transition: box-shadow 1s ease; */
    width: 100%;
}
 
.top-pro-i:hover .top-pro-ic {
    background-color: rgba(202, 196, 112, 0.829);
    border: 2px solid rgba(240, 61, 210, 0.226);
    background: #fff;
    height: 470px;
    z-index: 2;
    /* overflow: visible; */
    box-shadow: 0px 7px 2px #00000063;
}
.top-pro-i:hover {
    z-index: 2;
}
.outfit-c {
    display: flex;
    gap: 2%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 3.5%;
    scroll-behavior: smooth;
}
.outfit-c::-webkit-scrollbar {
    height: 1px;
}

.outfit-i {
    width: 45.33%;
    height: 450px;
    border-radius: 15px;
    border: 2px solid antiquewhite;
    flex-shrink: 0;
    overflow: hidden;
    scroll-snap-align: start;
}
.customer-tips h1 {
    font-weight: 600;
}
.comments {
    width: 100%;
    display: grid;
    grid-template-columns: 18% 34% 34%;
    align-items: center;
    gap: 6%;
    box-sizing: border-box;
    padding: 5% 2%;
}
.comments h1 {
    font-weight: 600;
}

.cart-btn{
    position: absolute;
    left: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
    bottom: 25px;
    overflow: hidden;
}
.cart-i{
    position: absolute;
    right: 20px;
    border-radius: 7px 7px 24px 7px;
    opacity: 0;
    transition: all 1s ease;
    bottom: 25px;
    width: 45px;
    height: 45px;
}

.top-pro-i:hover .cart-btn,
.top-pro-i:hover .cart-i {
    opacity: 1;
    bottom: -28px;
}
.cart-i:hover{
    border-radius: 7px;
    background-color: #e99f16f6;
}

/* Carousel */

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 45.33%;
    min-width: 0;
  }