.hero-p {
    font-size: 27px; 
    width: 100%;   
    transition: all 3s ease;
    display: flex; 
    align-items: center;
    justify-content: space-evenly; 
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding-left: 3%; */
    background-color: rgba(173, 225, 238, 0.651);
    box-shadow: inset 0px 0px 10px #fff;
}
.heroImg{
    background-color: rgba(255, 255, 255, 0.445); 
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    height: fit-content;
    width: 400px;
    clip-path: polygon(0% 15%, 25% 25%, 20% 0, 78% 0, 73% 26%, 100% 15%, 100% 85%, 77% 80%, 83% 100%, 15% 100%, 20% 80%, 0% 85%);
}

.hero-p-child {  
    transition: all 1s ease;  
    box-sizing: border-box; 
    padding: 0 14px;
    border-radius: 10px;
    width: 50%;
}

.hero-p-child h1{ 
    font-size: 70px;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 20px;
}
.hero-p-child p{
    /* text-align: left; */
    font-size: 27px;
    font-weight: 400;
}

.hero-p::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    /* background:   rgba(44, 44, 44, 0.479); */
    z-index: 1;
}

.circle-d {
    display: grid;
    grid-template-columns: 30% 67%; 
    justify-content: center;
    gap: 3%;
    align-items: center; 
    transition: all 1s ease;
    overflow: hidden; 
    box-sizing: border-box; 
    /* background: linear-gradient(to right bottom, #fc69c36b, #2d86cf57); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    border-radius: 10px;  
}

.body-care-p {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
    padding: 70px 3%;  
}
.body-care-p span {
    font-size: 15px; 
}
.category-list-p  {     
    gap: 15px;
    left: 5%; 
}
.category-list  {
    display: flex;
    gap: 15px; 
    overflow: hidden; 
    width: 0;   
    transition: all 0.5s ease;
    padding: 8px 0;
    border-radius: 0 15px;
    font-weight: 500; 
    border-bottom: 1px solid gray;
    /* text-transform: uppercase; */
}
.category-arrow{
    transition: all 0.5s ease;
    border-radius: 100%;
    cursor: pointer;
}
.bearer .category-arrow{
    transform: rotate(180deg); 
} 
.bearer:hover .category-arrow{ 
    background-color: #3838382f;
} 

.bearer + .category-list {
    width: fit-content;
    padding-left: 10px; 
    padding-right: 10px;
    cursor: pointer;
}

.category-list input[type="radio"]{
    display: none;
}

.category-list li{
    padding: 4px 10px;
    border-radius: 0 10px;
    font-size: 15px; 
}

 .category-list label input[type="radio"]:checked + li { 
    background-color: #fff;
    color: #000;
} 
.category-sec{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 50px 6%;
    box-sizing: border-box;  
}
.category-sec1{ 
    height: 460px;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    /* back6round: linear-gradient(to left, #fc69c36b, #2d86cf57); */
    border-radius: 17px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.category-sec1 img{  
    transition: all 0.3s ease-out;
    transform: scale(1.01);
}
.category-sec1 img:hover{
    transform: scale(1.2);
}
.category-sec2 { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
}
.cate-sec-child {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 220px;
    overflow: hidden;
    /* background: linear-gradient(to left, #fc69c36b, #2d86cf57); */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.cate-img-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* padding: 20px; */
    border-radius: 10px;
}
.cate-img-box img {
    width: 100%;
    height: 100%; 
    transform: scale(1.01);
}
.cate1-img{
    transform: scale(1.06);
    height: 100%;
    width: 100%;
    border-radius: 7%;
}
.circle-img-c{
    width: 100%;
    height: 100%;
    /* background-image: url("https://www.shutterstock.com/image-photo/love-mother-baby-family-home-260nw-1518712694.jpg"); */
    background-size: cover;
    border-radius: 100%; 
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-img-c .circle-img-i{
    width: 80%;
    height: 100%; 
}

.circle-formation + span { 
    padding: 15px 0; 
    transition: all 0.5s ease-in-out;
    position: relative;
}

.circle-formation + span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px; 
    top: 0; 
    left: 0; 
    z-index: 1;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.circle-formation + span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px; 
    bottom: 0; 
    left: 0; 
    z-index: 1;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}
.circle-formation:hover + span::before,
.circle-formation:hover + span::after{ 
    width: 100%; 
}

.circle-img-c img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%; 
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.circle-img-c img:hover{
    transform: scale(1.3);
}

.circle-d-p {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.category-con {
    width: 100%;
    display: flex;
    gap: 20%;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    scroll-padding: 6%;
}

.category-i { 
    height: 355px; 
    width: 200px; 
    display: none;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    overflow: hidden; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    background: radial-gradient(  #edf9fd, #ffe8f9);
    outline: none;
    margin-top: 10px;
} 
.category-con .slick-track{
    display: none;
}
.category-i .slick-slide{
    display: none;
}


.category-con::-webkit-scrollbar {
    height: 2px;
}

.category-con .slick-track {
    display: flex;
    gap: 0.4%;
}

.bottom-slide {
    position: relative;
}

.bottom-slide .slick-track {
    display: flex;
    gap: 0.15%;
} 

.bottom-slide .slick-next {
    background-color: rgba(255, 255, 255, 0.384);
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    z-index: 10; 
    border-radius: 100%;
}

.bottom-slide .slick-prev {
    background-color: rgba(255, 255, 255, 0.459);
    height: 40px;
    width: 40px;
    position: absolute;
    left: 15px;
    z-index: 10;
    border-radius: 100%;
}


.top-pro-c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
    box-sizing: border-box;
    padding: 0 2%;
}

.top-pro-i {
    height: 430px;
    border-radius: 15px;
    word-spacing: 2px;
}

.top-pro-ic {
    height: 430px; 
    border-radius: 15px;
    transition: all 0.3s linear; 
    width: 100%;   
}

.top-pro-i:hover .top-pro-ic { 
    height: 470px;
    z-index: 2; 
    box-shadow: 0px 8px 0px #00000038;
}

.top-pro-i:hover {
    z-index: 2;
}

.outfit-c {
    display: flex;
    gap: 2%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 3.5%;
    scroll-behavior: smooth;  
}

.outfit-c::-webkit-scrollbar {
    height: 1px;
}

.outfit-i {
    width: 45.33%;
    height: 390px;
    border-radius: 15px; 
    flex-shrink: 0;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0px 0px 7px #00000013;
    background-color: #68d1e448;
    outline: none; 
    border-radius: 10px;
    margin-top: 10px;
}

.customer-guarantee h1 {
    font-weight: 600;
    font-size: 18px;
    font-family: Arial,  Helvetica, sans-serif;
    /* font-family: sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.customer-guarantee p {
    font-size: 15px; 
}
.customer-tips p { 
    font-size: 18px;
}
.customer-tips ul {  
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}
.customer-tips ul li{ 
    background-color: #68d1e448;
    padding: 60px 30px;
    border-radius: 10px;
}

.h-comments {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px; 
    padding: 5% 4%;
}
.comment-p{ 
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 4%;
}

.h-comment-child {
    box-sizing: border-box; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    padding: 9px;
    border-radius: 10px; 
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.h-comments h1 {
    font-size: 24px;
    font-weight: 500;
}

.comment-p p {
    font-size: 15px;
    font-weight: 400;
}

.h-comment-img-p {
    width: 100%;
    height: 250px; 
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 0px;
}

.h-comment-img-c {
    width: 100%;
    height: 250px; 
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box; 
}

.h-comment-img-c img { 
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}
.h-comment-img-c:hover img {
    transform: scale(1);
}

.cart-btn {
    position: absolute;
    left: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
    bottom: 25px;
    overflow: hidden;
}

.cart-i {
    position: absolute;
    right: 20px;
    border-radius: 7px 7px 24px 7px;
    opacity: 0;
    transition: all 1s ease;
    bottom: 25px;
    width: 45px;
    height: 45px;
}

.top-pro-i:hover .cart-btn,
.top-pro-i:hover .cart-i {
    opacity: 1;
    bottom: -28px;
}

.cart-i:hover {
    border-radius: 7px;
    background-color: #e99f16f6;
}

.headerDetail{
    font-size: 45px;
    font-weight: 700;
    /* font-family: monospace; */
}

/* Carousel */

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 35.33%;
    min-width: 0;
}

@media all and (max-width:1300px) {
    .hero-p {
        font-size: 24px;  
    }
    .headerDetail{
        font-size: 40px; 
    }
    .hero-p-child h1{ 
        font-size: 40px;
        line-height: 1em;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .hero-p-child p{
        /* text-align: left; */
        font-size: 25px;
        font-weight: 400;
    }
    .heroImg{ 
        width: 300px; 
    }
    .body-care-p {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(600px,1fr)); 
        justify-content: center; 
        padding: 70px 5%;  
    }
    .circle-d-p {
        height: 100%;
        display: flex; 
        gap: 10px;
    }
    .circle-d {
        height: 200px; 
        gap: 10px;
    }
    .circle-img-c .circle-img-i{
        width: 65%;
        height: 100%; 
    }
    .h-comments {
        width: 100%;
        display: flex; 
        align-items: center;
        gap: 3%; 
        padding: 5% 2%;
    }
    .customer-tips ul {  
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    }
} 


@media all and (max-width:800px) { 
    .hero-p-child h1{ 
        font-size: 27px;
        line-height: 1em;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .headerDetail{
        font-size: 27px; 
    }
    .hero-p-child p{
        /* text-align: left; */
        font-size: 19px;
        font-weight: 400;
    } 
    .heroImg{ 
        width: 290px; 
    }
    .body-care-p {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr)); 
        justify-content: center; 
        padding: 70px 5%;  
    }
    .circle-d-p {
        height: 100%;
        display: flex;
        flex-direction: column;
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 10px;
    }
    
    .comment-p{ 
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 0 4%;
    }
    .comment-p{ 
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 0 4%;
    }
    .h-comments h1 {
        font-size: 20px; 
    }
    
    .comment-p p {
        font-size: 14px; 
    }
    
}

@media all and (max-width:600px) { 
    .hero-p-child h1{ 
        font-size: 22px;
        line-height: 1em;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .headerDetail{
        font-size: 22px; 
    } 
    .hero-p-child p{
        /* text-align: left; */
        font-size: 16px;
        font-weight: 400;
    }
    .heroImg{ 
        width: 230px; 
    }  
    
}     
@media all and (max-width:500px) { 
    .category-i { 
        height: 370px;  
    } 
    
}     