.cloths-c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
    padding: 0 7%;
}

.cloths-i {
    height: 430px;
    border-radius: 15px;
    word-spacing: 2px;
}

.cloths-ic {
    /* height: 430px;  */
    border-radius: 15px;
    transition: all 0.3s linear; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    width: 100%;  
    font-size: 13px;
}

.cloths-i:hover .cloths-ic { 
    height: 470px;
    z-index: 2; 
    box-shadow: 0px 8px 0px #00000038;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.cloths-i:hover {
    z-index: 2;
}


.cloths-cart-btn {
    position: absolute;
    left: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
    bottom: 25px;
    overflow: hidden;
}

.cloths-cart-i {
    position: absolute;
    right: 20px;
    border-radius: 7px 7px 24px 7px;
    opacity: 0;
    transition: all 1s ease;
    bottom: 25px;
    width: 45px;
    height: 45px;
}

.cloths-i:hover .cloths-cart-btn,
.cloths-i:hover .cloths-cart-i {
    opacity: 1;
    bottom: -28px;
}

.cloths-cart-i:hover {
    border-radius: 7px;
    background-color: #e99f16f6;
}

.cart-valies-p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    justify-content: space-evenly;
    align-items: center;
}
