@tailwind base;
@tailwind components;
@tailwind utilities;

  body {  
    background-color: #000;
  }

.theme-panel{
  height: 0;
  overflow: hidden;
  width: 130px;
  transition: height 0.5s ease;
  z-index: 20;
}

.theme-panel-p:hover .theme-panel{ 
  height: 80px;
}

.light {
  background-color: #fff;
  color: #000;
} 
.dark {
  background-color:#1a1a20a8;
  color: #fff;
}