@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-panel{
  height: 0;
  overflow: hidden;
  width: 130px;
  transition: height 0.5s ease;
  z-index: 20;
}

.theme-panel-p:hover .theme-panel{ 
  height: 80px;
}

.light {
  /* background: radial-gradient(  #edf9fd, #fff4fc) ;   */
  background-color: #fff;
  /* background: radial-gradient(  rgba(255, 236, 240, 0.993), #edf9fd) ;   */
  color: #000; 
} 
.dark {
  background-color:#1a1a20;
  color: #fff;
  /* color: #5f5f5f; */
}

.bug-category-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  gap: 5px;
  position: relative;
  cursor: pointer;
  height: 30px;
}
.bug-category-p .bug1,
.bug-category-p .bug2,
.bug-category-p .bug3{
  position: absolute;
  background-color: #000000;
  width: 25px;
  height: 3px;
  transition: all 0.2s ease;
}
.bug-category-p .bug1{
  bottom: 6px;
}
.bug-category-p .bug3{
  top: 7px;
}

.bug-category-p.active-bug{  
  .bug1{ 
    transform: rotate(-35deg);
    width: 25px;
  }
  .bug2{ 
    width: 36px;
  }
  .bug3{ 
    transform: rotate(35deg);
    width: 25px;

  }
}

.btn-loader-p{
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  border: none; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-loader-p:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-loader-i{ 
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 3px solid #fff;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
