.signParent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 238, 240);
    background: linear-gradient( to right, rgb(188, 238, 240), rgba(253, 217, 223, 0.377));;
    width: 50%;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: inset -5px 0px 10px #fff;
    position: relative;
}
.signImgFrame{
    /* background-color: #fff; */
    background: url('../../../public/image/form1.jpg');
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: cover;
    width: 50%;
    box-shadow: inset 5px 0px 10px #fff;
    color: #000;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    box-sizing: border-box;
    padding: 20px;
}
.signForm{   
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;  
    width: 50%; 
    padding: 30px 20px; 
    font-weight: 500;
}
.signForm label{ 
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.signForm input{
    padding: 6px 17px;
    outline: none;
    background-color: #ffffff;
    border-radius: 6px;
}

.signForm span{
    font-size: 14px;
}

.signForm button {
    background-color: #000;
    border-radius: 6px;
    padding: 6px 0;
    color:#fff;
}
 
.valiBugCon{
    position: absolute;
    top: 40px;
    right: 40px;  
    width: 40px;
    height: 40px;
    background-color: #0000002f;
    display:flex;
    justify-content: center
    } 
    .valiBugCon:hover{
    background-color: #696969de; 
    } 
    
    .valiBug1,
    .valiBug2{
    width: 38px;
    top: 18px;
    height: 4px; 
    background-color: #ffffff;
    position: absolute;
    }  
    
    .valiBug1{  
    transform: rotate(-45deg);
    }
    
    .valiBug2{ 
    transform: rotate(45deg)
    }

    /*
    =====================================
    @media 1300
    ===================================== 
     */

     @media all and (max-width:1300px){
        .signParent{  
            width: 60%;
            height: 500px; 
        }
     }

    /*
    =====================================
    @media 1000
    ===================================== 
     */

     @media all and (max-width:1000px){
        .signParent{  
            width: 70%;
            height: 500px; 
        }
     }
    /*
    =====================================
    @media 800
    ===================================== 
     */

     @media all and (max-width:800px){
        .signParent{  
            width: 90%;
            height: 500px; 
        }
     }
    /*
    =====================================
    @media 600
    ===================================== 
     */

     @media all and (max-width:600px){
        .signParent{  
            width: 98%;
            height: 500px; 
        }
        .signParent h1{
            font-weight: 600;
            font-size: 27px;
        }
        .signForm span{     
            font-size: 12px;
        }
     }
    /*
    =====================================
    @media 500
    ===================================== 
     */

     @media all and (max-width:570px){
        .signParent{  
            width: 90%; 
        }
        .signImgFrame{ 
            display: none;
        }
        .signForm{      
            width: 90%;  
        }
     } 