.signUpParent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 238, 240);
    background: linear-gradient( to right, rgb(188, 238, 240), rgba(253, 217, 223, 0.377));;
    width: 60%;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: inset -5px 0px 10px #fff;
    position: relative;
}
.signUpImgFrame{
    background-color: #fff;
    background: url('../../../public/image/form1.jpg');
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: cover;
    width: 50%;
    box-shadow: inset 5px 0px 10px #fff;
    color: #000;
    height: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
    box-sizing: border-box;
    padding-left: 20px; 
}
 
.signUpForm{  
    /* clip-path: polygon(45% 0, 18% 100%, 100% 86%); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box; 
    /* box-shadow: 0px 0px 8px #00000007; */
    /* background-color: #ebf5f8; */
    /* background: linear-gradient(to top right, #ffffff1a 50%, #86a7d8 50%); */
    width: 50%; 
    padding: 30px 20px;
    /* border-radius: 5px; */ 
}
.signUpForm label{ 
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.signUpForm input{
    padding: 6px 17px;
    outline: none;
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;
}

.signUpForm span{
    font-size: 14px;
    font-weight: 500;
}

.signUpForm button {
    font-weight: 500;
    background-color: #000;
    border-radius: 6px;
    padding: 6px 0;
    color:#fff;
}
.valiBugCon{
    position: absolute;
    top: 40px;
    right: 40px;  
    width: 40px;
    height: 40px;
    background-color: #0000002f;
    display:flex;
    justify-content: center
} 
.valiBugCon:hover{
    background-color: #696969de; 
} 

.valiBug1,
.valiBug2{
    width: 38px;
    top: 18px;
    height: 4px; 
    background-color: #ffffff;
    position: absolute;
}  

.valiBug1{  
    transform: rotate(-45deg);
}

.valiBug2{ 
    transform: rotate(45deg)
}
 

/*
=====================================
@media 1300
===================================== 
 */

 @media all and (max-width:1300px){
    .signUpParent{  
        width: 60%;
        height: 600px; 
    }
 }

/*
=====================================
@media 1000
===================================== 
 */

 @media all and (max-width:1000px){
    .signUpParent{  
        width: 77%;
        height: 600px; 
    }
    .signUpParent h1{
        font-weight: 600;
        font-size: 29px;
    }
 }
/*
=====================================
@media 800
===================================== 
 */

 @media all and (max-width:800px){
    .signUpParent{  
        width: 80%;
        height: 600px; 
    }
    .signUpParent h1{
        font-weight: 600;
        font-size: 29px;
    }
    .signUpForm span{     
        font-size: 12px;
    }
    .signUpImgFrame{ 
        display: none;
    }
    .signUpForm{      
        width: 80%;  
    }
 } 
     /*
=====================================
@media 600
===================================== 
 */
 @media all and (max-width:600px){
    .signUpParent{  
        width: 98%; 
    }
    .signUpParent h1{
        font-weight: 600;
        font-size: 27px;
    }
    
    .signUpImgFrame{ 
        display: none;
    }
    .signUpForm{      
        width: 80%;  
    }
   
 }
/*
=====================================
@media 500
===================================== 
 */

 @media all and (max-width:570px){
    .signUpParent{  
        width: 90%; 
    }
    .signUpForm{      
        width: 100%; 
        gap: 10px; 
    }  
 } 
/*
=====================================
@media 500
===================================== 
 */

 @media all and (max-width:470px){ 
    .signUpForm{      
        width: 100%; 
        gap: 10px; 
    } 
    .signUpForm div{   
        display: flex;
        flex-direction: column; 
    } 
 } 