.product-sec-p{
    display: grid;
    grid-template-columns: 25% 75%;
}

.product-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 233, 233, 0.644);
    width: 100%;
    height: 400px;
}
.product-sec1-p{ 
    display: flex;
    /* justify-content: center; */
}
.product-sec1{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 20px;
    text-align: center;
}

.product-sec1 select {
    width: 100%;
    padding: 6px 5px; 
    border: 1px solid rgba(211, 228, 231, 0.993);
    background-color: inherit; 
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-box-p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.product-box{
    width: 100px;
    height: 90px;
    border: 1px solid rgba(211, 228, 231, 0.993);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.product-box:hover{ 
    background-color: rgba(58, 165, 160, 0.247); 
}
.box-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5%;
    box-sizing: border-box;
    padding: 0 2%;
}

.product-i {
    height: 430px;
    border-radius: 15px;
    word-spacing: 2px;
    transition: all 0.3s linear;  
}

.product-ic { 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    transition: all 0.3s linear; 
    width: 100%;  
    font-size: 13px;
    padding: 10px;
    transition: all 0.4s linear;
}

.product-i:hover .product-ic { 
    height: 460px;
    z-index: 2; 
    box-shadow: 0px 8px 0px #00000038;  
}

.product-i:hover {
    z-index: 5;
}


.product-cart-btn {
    position: absolute;
    left: 10px;
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease;
    bottom: 25px;
    overflow: hidden;
}

.product-cart-i {
    position: absolute;
    right: 20px;
    border-radius: 7px 7px 24px 7px;
    opacity: 0;
    transition: all 1s ease;
    bottom: 25px;
    width: 45px;
    height: 45px;
}

.product-i:hover .product-cart-btn,
.product-i:hover .product-cart-i {
    opacity: 1;
    bottom: -20px;
}

.product-cart-i:hover {
    border-radius: 7px;
    background-color: #e99f16f6;
}

.cart-valies-p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    justify-content: space-evenly;
    align-items: center;
}
